<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin PUBLIC "-//JALIOS//DTD JCMS-PLUGIN 1.7//EN" "http://support.jalios.com/dtd/jcms-plugin-1.7.dtd">

<plugin name="SEOPlugin" version="0.1" author="DEP44" license="DEP44" initialize="true" order="0" url="" jsync="false" appserver="">
  <label xml:lang="fr">Module SEO</label>
  <description xml:lang="fr">Module permettant d'implémenter les règles standards pour améliorer le référencement naturel. Mise en place du robots.txt, réécriture d'url, saisie des meta données sur les articles et les catégories, implémentation des microformats / microdonnées.</description>

  <plugincomponents>
    <policyfilter class="fr.cg44.plugin.seo.policyfilter.SEOPortalPolicyFilter" />
  </plugincomponents>  
  
  <java-classes>
    <java package="fr.cg44.plugin.seo"/>  
  </java-classes>
  
  <private-files>
    <file path="properties/plugin.prop" />
    <file path="properties/languages/fr.prop" />
  </private-files>
  <public-files>
    <directory path="docs" />
    <directory path="jsp" />
    <directory path="maintenance" />  
    <file path="jsp/googleTagManager/headerTag.jsp" include="EMPTY_HEADER" />
    <file path="jsp/googleTagManager/bodyTag.jsp" include="EMPTY_HEADER_BODY_START" />
  </public-files>
  <webapp-files>
    <file path="robots.txt" />
    <file path="sitemap.jsp" />  
  </webapp-files>  
</plugin>

